# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Data files
backend/app/data/raw/*.csv
backend/app/data/processed/*.csv

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env

# ML models (we'll generate later)
*.pkl